@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,600&family=Kalam:wght@700&family=Laila&display=swap');
	/*font-family: 'Josefin Slab', serif;
	font-family: 'Kalam', cursive;
	font-family: 'Laila', sans-serif;*/

*, *:before, *:after {
	box-sizing: border-box;
}
body {
    background-color: #fff;
    color: #fff;
    margin: 0px;
    padding: 0px;
    height: auto;
    max-width: auto;
    font-size: 10px;
    font-family: sans-serif;
}

/*---------------srollbar-----------------*/

/* width */
::-webkit-scrollbar {
    width: 0.4em;
}
    /* Track */
::-webkit-scrollbar-track {
    background: #fff;
}
    /* Handle */
::-webkit-scrollbar-thumb {
    background: #3c3c3c;
} 

li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
	height: 1em;
	width: 1em;
	border-radius: 50em;
	background: url(/img/times-circle.svg) no-repeat 50% 50%;
	background-size: contain;
	opacity: 0.5;
	pointer-events: none;
}
input[type="search"]:focus::-webkit-search-cancel-button {
	opacity: .4;
	pointer-events: all;
}
header {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 45px;
	max-height: 120px;
	background: rgba(44, 44, 44, .95);
	color: #fff;
	z-index: 5;
}

.header__wrapper_content {
	width: 70%;
	display: flex;
	justify-content: space-between;
}
.logo-flex {
	width: 20%;
	display: flex;
	justify-content: start;
	align-self: center;
}

.logo {
	color: #fff;
	font-size: 2em;
	font-family: 'Kalam', cursive;
}
.logo:hover {
	color: #cdcdcd;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1.2em;
	font-weight: normal;
	font-family: sans-serif;
	letter-spacing: 0px;
	color: #fff;
}

.menu ul {
	display: flex;
	justify-content: end;
}

.menu hr {
	display: none;
}

.menu li {
	margin-right: 10%;
	right: 0;
}
.menu li:last-child {
	margin-right: 0%;
}

.menu a {
	color: #fff;
}

.menu a:hover {
	transition: .1s;
	color: #cdcdcd;
}
/*!!!!! Mobile menu !!!!!*/
.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 2px;
	margin: 5px auto;
	transition: 0.3s;
	background-color: #fff;
}

.search-input {
	display: none;
}
.mobile__profile-button {
	display: none;
	font-size: 1.5em;
	align-self: center;
}
.mobile__profile-button a {
	color: #fff;
}
/*--------search form mobile---------*/
.search-form__wrapper {
	display: flex;
	border-radius: 10px;
	border: none;
	background-color: inherit;
}
.search-btn-mobile {
	display: none;
	color: #fff;
	font-size: 1em;
	background: inherit;
	border: none;
}
.menu input {
	padding-left: 1%;
	border: none;
	height: 100%;
	width: 100%;
	outline: none;
}
.menu form {
	display: flex;
	justify-content: center;
}
/*--------search form pc---------*/

.search__pc-block {
	display: none;
}
.search__pc-block.active {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 70%;
	height: 100%;
}
.search__open-pc{
	color: #fff;
	font-size: 1em;
	padding: 0px;
	background: inherit;
	border: none;
	cursor: pointer;
}

.search-form__wrapper-pc {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}
.search-form__wrapper-pc .search-btn-pc{
	background-color: inherit;
	border: none;
	color: #fff;
	font-size: 12px;
	padding-right: 10px;
	align-self: center;
}
.search-form__wrapper-pc input {
	width: 50%;
	background-color: inherit;
	color: #fff;
	font-size: 15px;
	outline: none;
	border: none;
}
.search-form__wrapper-pc input[type="search"]::-webkit-search-cancel-button {
	display: none;
}
.search-form__wrapper-pc .btn__close {
	color: #fff;
	background-color: inherit;
	font-size: 15px;
	cursor: pointer;
	border: none;
}
/*-----alert don't buy it-----*/
.alert_dont_buy_it {
	width: 100%;
	height: 23px;
	background-color: #444;
	opacity: 1;
	padding: 0px 15%;
	display: flex;
	justify-content: space-between;
	position: fixed;
	margin-top: 45px;
	z-index: 5;
}
.alert_dont_buy_it span {
	align-self: center;
	font-size: 11px;
	color: #ddd;
}
.alert_dont_buy_it button {
	border: none;
	background-color: inherit;
	color: #fff;
	align-self: center;
	font-size: 1.2em;
	cursor: pointer;
}
/*-------------------------------- Main --------------------------------*/
/*-----------------------Banner after header---------------------*/

.Banner__with-something-new {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100vh;
	background: url(../img/banner-main-home.jpg) no-repeat center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.Banner__text-wrap {
	width: 70%;
	height: 150px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-self: center;
	font-family: 'Laila', sans-serif;
	color: #fff;
	cursor: default;
}

.title__main-in-Banner {
	font-size: 3.6em;
}

.subtitle__in-Banner {
	font-size: 2em;
}

.Button__learn-more {
	width: 120px;
	background-color: #fff;
	color: #000;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	margin-top: 15px;
	border: 2px solid #fff;
	border-radius: 20px;
}
.Button__learn-more:hover {
	transition: .6s;
	background-color: inherit;
	color: #fff;
	border: 2px solid #fff;
}
/*cards prod blocks*/
.title_pre__cards {
	width: 100%;
	text-align: center;
	padding: 20px 0px;
	color: #9c9c9c;
	background-color: #fff;
	font-size: 2.5em;
	font-family: 'Kalam', cursive;
}
.cards__main {
	display: flex;
	justify-content: center;
	z-index: 2;
	position: relative;
	width: 100%;
	height: auto;
	background-color: #fff;
}
.cards__main button {
	visibility: hidden;
	background-color: inherit;
	border: none;
	color: #ddd;
	opacity: .5;
	font-size: 3em;
	padding: 1%;
	cursor: pointer;
	transition: .5s;
}
.cards__main button:hover {
	color: #888;
}
.cards__main:hover button{
	visibility: visible;
}


.wrapper__cards__slider {
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: 0px;
	z-index: 4;
}

.card {
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
	text-align: center;
	width: auto;
	height: auto;
	background-color: #f5f5f7;
	border-radius: 20px;
	padding: 0px;
	margin-bottom: 10px;
	font-family: sans-serif;
	transition: .3s;
	z-index: 4;
}
.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card:hover a {
	color: #06c ;
}
.wrapper_for_img {
	display: flex;
	justify-content: center;
}
.wrapper_for_img img {
	width: 80%;
	margin-top: 15%;
}
.card_name_product {
	margin-top: 20px;
}
.card_name_product a {
	font-size: 1.3em;
	font-weight: bold;
	color: #444;
}
.card_price_product {
	font-weight: lighter;
	font-size: 1.5em;
	color: #777;
	margin-top: 10px;
	margin-bottom: 15%;
}
